@charset "utf-8";
/* CSS Document */

/*
.blurtest{ filter: blur(8px);
  -webkit-filter: blur(8px);
*/
  
  /* Full height */
/*  height: 100%; */
  
  /* Center and scale the image nicely */
/*
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);



.item-1, 
.item-2, 
.item-3 {
  position: absolute;
  display: block;
  top: 10em;
  
  width: 80%;
  
  font-size: 1em;

  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.test{
  position: absolute;
  display: block;
  top: 15em;
  
  width: 80%;
  
  font-size: 1em;

  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.test{
  animation-name: anim-1;
}


.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}


@keyframes test {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 10%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 10%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 10%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 10%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}


body { 
  background-image:linear-gradient(#eee, #aaa);
  height:100%;
}

.active{background-color: #0b0b0b;
color: #fff;
border-radius: 5px;
font-weight: 600;}

.logotext p {
    font-size: 25px;
    display: inline-block;
    
    color: #fff;
}
	.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: initial;
}

.toppanel{  background-color: #000;}
.toppanel nav{margin-top: 15px;}

.logo{padding: 10px 20px 15px 0px;
width: 90px;}

.top-navbar .navbar-nav .nav-item a{
    padding-right: 0px;
    margin: 0px 10px;
	color:#fff;
	font-weight:600;
}


.slide-text h1{


    font-family: 'Open Sans', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Oswald', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Lobster', cursive;

    font-family: 'Righteous', cursive;

	color: #fff;

	font-size: 60px;
	
	}


.carousel-caption{top: 50% !important;
transform: translateY(-50%) !important;}

.welcome{

	
}
.carousel {
  
}

.welcome p{color: #fff;
			padding-bottom: 30px;}


.card{margin-top: 10px;
		margin-bottom: 10px;	}	

 .card-body h5 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
}




.page-footer {
	background-color: #000;
	color: #fff;
}




.fa {
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
	padding: 18px;
font-size: 25px !important;
width: 60px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

.fa-phone {
  background: #cb2027;
  color: white;
	padding: 18px;
font-size: 25px !important;
width: 60px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

.fa-google-plus {
  background: #dd4b39;
  color: white;
	padding: 18px;
font-size: 25px !important;
width: 60px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
	padding: 18px;
font-size: 25px !important;
width: 60px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}
/*

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
*/
/*

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}
*/

/*
.fa-android {
  background: #a4c639;
  color: white;
}
*/

.fa-whatsapp {
  background: #25D366;
  color: white;
	padding: 18px;
font-size: 25px !important;
width: 60px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

/*
.fa-vimeo {
  background: #45bbff;
  color: white;
}
*/

/*
.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
*/
.jumbo{background-color: #000;color: #fff;}



.coloricon{border: 2px solid #F2F2F2;
			margin: 19px;
			border-radius: 5px;
			padding: 20px;
			text-align: center;}
.coloricon h4{font-size: 1.25rem;
				color: gray;
		font-family:Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-weight: 600;
	padding-top: 10px;
				
}


.coloricon{
	
	padding: 20px;
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
    }

    .coloricon:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
		
    }


.page-footer a{color:#fff; font-weight: 400;}

.page-footer p{padding-bottom: 10px;}

.mx-auto ul li{padding: 5px 0px;}

.mt-3{background: -webkit-linear-gradient(#fff, #eee );
  -webkit-background-clip: text;
	}


.page-footer a:hover{color:#fff; font-weight: 600; text-decoration: none;}
/* media queries*/

.mx-auto p{color:#fff;}
.con-add a{color:#fff;}


@media only screen and (max-width: 768px) {


.logotext {
    margin: 10px 35px 10px 35px !important;
    background-color: #000;
}
.logo {
    width: 100px;
}

.border1,.border2, .border3, .border4, .border5, .border6, .border7, .border8 {

    border: 2px solid #fff !important;
    margin-bottom: 32px;

}

  .tp-button {
    position: relative;
    color: #000;
    background: transparent;
        background-color: transparent;
   border: none !important;
    border-radius: none !important;
    width: 56px !important;
    height: 56px !important;
    padding-left: 0px;
    margin-left: 40px !important;
    cursor: pointer; 
    font-size: 20px;
}
.customer-logos1 .slide1 img {
   width: 70px !important;
   height: 56px !important;
}

.slick-arrow {
display: none !important;
}


	.toppanel nav {
    margin-top: 0px;

    
}

	
	.slide-text h1{font-size: 40px; margin-top: -45px;}
	
	.slide-text p{display: none;}
	.toppanel{padding: 0px; background-color: #000;}
	
	.carousel-indicators{display: none;}
	

	.logo{ margin-top: 10px;}
	
	.fa {

    padding: 10px;
    font-size: 20px !important;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

}
	
}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
	
	.carousel-indicators{display: none;}
	.top-navbar .navbar-nav .nav-item a{
    padding-right: 0px;
    margin: 0px -200px;

		
}


	  
}


/* Style the buttons */
.tp-button {
    position: relative;
    color: #000;
    background: #fff;
        background-color: rgb(255, 255, 255);
   
    border-radius: 10px;
    width: 300px;
    height: 60px;
    padding-left: 0px;
    margin-left: 40px !important;
    cursor: pointer; ;
}
.tp-button:hover {
  background-color: #fff;
}


.tp-button.active {
  color: white;
    background:rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    border-radius: 10px;
    width: 300px;
  height: 60px;
}

.tp-button.active:after {
  content: url("images/checked.png");

  
  position: relative;
 
   
    opacity: 0.9;
    border-radius: 10px;
    width: 300px;
  height: 60px;
}

.tp-button h4{padding-top: 10px; font-size: 20px;}



